:root {
  --red-0: #f00;
  --red-1: #ff5252;
  --red-2: #ff7c7c;
  --red-3: #ffafaf;
  --red-4: #ffd0d0;
  --red-5: #ffe4e4;
  --red-5-5: #ffecec;
  --red-6: #fff3f3;
  --color-default-font: #000;
  --color-default: #555;
  --color-grey: #999;
  --color-border: var(--red-3);
  --color-link: var(--red-1);
  --color-dark-link: #ff0f0f;
  --color-background: #eee;
  --color-code-background: #f5f5f5;
  --color-sidebar-text: #777;
  --color-header-background: rgba(255,255,255,0.9);
  --color-footer-background: #fff;
  --color-mobile-nav-background: #fff;
  --color-wrap: #fff;
  --color-sticky: #ffecec;
  --color-h2-border: #eee;
  --color-meta-shadow: --var(--red-6);
  --color-hover-shadow: rgba(150,150,150,0.1);
  --color-h2-after: rgba(255,0,0,0.6);
  --color-h2-after-shadow: rgba(255,78,106,0.7);
  --highlight-nav: #e6e6e6;
  --highlight-scrollbar: #d6d6d6;
  --highlight-background: #f7f7f7;
  --highlight-current-line: #dadada;
  --highlight-selection: #e9e9e9;
  --highlight-foreground: #4d4d4d;
  --highlight-comment: #7d7d7d;
  --highlight-red: #c8362b;
  --highlight-orange: #b66014;
  --highlight-yellow: #cb911d;
  --highlight-green: #2ea52e;
  --highlight-aqua: #479d9d;
  --highlight-blue: #1973b8;
  --highlight-purple: #7135ac;
  --cursor-default: url("../images/cursor/reimu-cursor-default.cur"), auto;
  --cursor-pointer: url("../images/cursor/reimu-cursor-pointer.cur"), pointer;
  --cursor-text: url("../images/cursor/reimu-cursor-text.cur"), text;
}
[data-theme="dark"]:root {
  --red-0: #ff5252;
  --red-1: #ff5252;
  --red-2: #ff7c7c;
  --red-3: #ffafaf;
  --red-4: rgba(255,208,208,0.5);
  --red-5: rgba(255,228,228,0.2);
  --red-5-5: rgba(255,236,236,0.1);
  --red-6: rgba(255,243,243,0.2);
  --color-default-font: #999;
  --color-default: #999;
  --color-grey: #999;
  --color-border: var(--red-5);
  --color-link: var(--red-1);
  --color-dark-link: #ff0f0f;
  --color-background: #21252b;
  --color-code-background: rgba(232,232,232,0.2);
  --color-sidebar-text: #777;
  --color-header-background: #222;
  --color-footer-background: #21252b;
  --color-mobile-nav-background: #21252b;
  --color-wrap: #272b30;
  --color-sticky: #ffecec;
  --color-h2-border: #47474a;
  --color-meta-shadow: rgba(0,0,0,0.2);
  --color-hover-shadow: rgba(0,0,0,0.2);
  --color-h2-after: #ff5252;
  --color-h2-after-shadow: rgba(255,78,106,0.7);
  --highlight-nav: #2e353f;
  --highlight-scrollbar: #454d59;
  --highlight-background: #22272e;
  --highlight-current-line: #393939;
  --highlight-selection: #515151;
  --highlight-foreground: #ccc;
  --highlight-comment: #999;
  --highlight-red: #f47067;
  --highlight-orange: #f69d50;
  --highlight-yellow: #fc6;
  --highlight-green: #9c9;
  --highlight-aqua: #6cc;
  --highlight-blue: #54b6ff;
  --highlight-purple: #dcbdfb;
}
[data-theme="dark"]:root img {
  filter: brightness(70%);
}
[data-theme="dark"]:root .pswp__img {
  opacity: 1;
  filter: none;
  animation: none;
}
[data-theme="dark"]:root img.lazyloaded {
  opacity: 1;
  animation: blur-darken 0.8s ease-in-out forwards;
}
body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@keyframes blur {
  0% {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes blur-darken {
  0% {
    filter: blur(10px) brightness(70%);
  }
  to {
    filter: blur(0) brightness(70%);
  }
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
  position: relative;
}
.article-entry h2:before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid var(--color-h2-border);
  bottom: -15px;
  box-sizing: unset;
  transition: all 0.3s ease;
}
.article-entry h2:after {
  content: "";
  position: absolute;
  background: var(--color-h2-after);
  width: 1em;
  height: 7px;
  bottom: -18px;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 2px 12px var(--color-h2-after-shadow);
  transition: all 0.3s ease;
}
.article-entry h2:hover:after {
  width: 3em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: var(--color-grey);
}
.article-entry hr {
  margin: 10px 0;
  opacity: 0.3;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255,0,0,0.75) 50%, transparent 0%);
  background-size: 25px 2px;
  background-repeat: repeat-x;
  border: none;
  filter: drop-shadow(0px 0px 2px #f00);
  transition: opacity 0.3s ease;
}
.article-entry hr:hover {
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .article-entry hr {
    margin: 10px 0;
  }
}
.article-entry strong {
  font-weight: bold;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry abbr {
  text-decoration: none;
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 0 20px;
  line-height: 1.8em;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: disc;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/c/font_4552607_09mhdxci6yrk.woff2") format('woff2'), url("//at.alicdn.com/t/c/font_4552607_09mhdxci6yrk.woff") format('woff'), url("//at.alicdn.com/t/c/font_4552607_09mhdxci6yrk.ttf") format('truetype');
  font-display: swap;
}
.tag-wrap .archives-tag-list-link:before {
  font-family: "iconfont";
  content: "\e622";
}
.category-wrap .archives-category-list-link:before {
  font-family: "iconfont";
  content: "\e604";
}
.article-date-link:before {
  font-family: "iconfont";
  content: "\e606";
}
.article-category-link:before {
  font-family: "iconfont";
  content: "\e604";
}
.article-tag-list-link:before {
  font-family: "iconfont";
  content: "\e622";
}
.article-comment-link:before {
  font-family: "iconfont";
  content: "\e608";
}
.icon-copyright:before {
  font-family: "iconfont";
  content: "\e60a";
}
.icon-brush:before {
  font-family: "iconfont";
  content: "\e618";
}
.icon-coffee:before {
  font-family: "iconfont";
  content: "\e607";
}
.icon-eye:before {
  font-family: "iconfont";
  content: "\e60f";
}
.icon-user:before {
  font-family: "iconfont";
  content: "\e628";
}
#main-nav-toggle:before {
  font-family: "iconfont";
  content: "\e62f";
}
#nav-rss-link:before {
  font-family: "iconfont";
  content: "\e61f";
}
#nav-search-btn:before {
  font-family: "iconfont";
  content: "\e631";
}
#nav-sun-btn:before {
  font-family: "iconfont";
  content: "\e621";
}
#nav-moon-btn:before {
  font-family: "iconfont";
  content: "\e617";
}
.icon-copy:before {
  font-family: "iconfont";
  content: "\e60c";
}
.icon-chevron-down:before {
  font-family: "iconfont";
  content: "\e609";
}
.icon-check:before {
  font-family: "iconfont";
  content: "\e636";
}
.icon-times:before {
  font-family: "iconfont";
  content: "\e637";
}
.post-meta .icon-calendar:before {
  font-family: "iconfont";
  content: "\e605";
}
.post-meta .icon-pencil:before {
  font-family: "iconfont";
  content: "\e61b";
}
.post-meta .icon-clock:before {
  font-family: "iconfont";
  content: "\e613";
}
.post-sticky:before {
  font-family: "iconfont";
  content: "\e627";
}
.reimu-popup .popup-btn-close:before {
  font-family: "iconfont";
  content: "\e626";
}
.reimu-search-input-icon:before {
  font-family: "iconfont";
  content: "\e631";
}
.ais-pagination--item__previous a:before {
  font-family: "iconfont";
  content: "\e601";
}
.ais-pagination--item__next a:before {
  font-family: "iconfont";
  content: "\e630";
}
.icon-github:before {
  font-family: "iconfont";
  content: "\e619";
}
.icon-google:before {
  content: "\e611";
}
.icon-facebook:before {
  content: "\e60e";
}
.icon-twitter:before {
  content: "\e62a";
}
.icon-instagram:before {
  content: "\e615";
}
.icon-linkedin:before {
  content: "\e614";
}
.icon-pinterest:before {
  content: "\e61a";
}
.icon-youtube:before {
  content: "\e62d";
}
.icon-vimeo:before {
  content: "\e629";
}
.icon-flickr:before {
  content: "\e612";
}
.icon-dribbble:before {
  content: "\e610";
}
.icon-behance:before {
  content: "\e602";
}
.icon-bilibili:before {
  content: "\e603";
}
.icon-weibo:before {
  content: "\e62c";
}
.icon-zhihu:before {
  content: "\e62e";
}
.icon-reddit:before {
  content: "\e61c";
}
.icon-tumblr:before {
  content: "\e625";
}
.icon-medium:before {
  content: "\e616";
}
.icon-deviantart:before {
  content: "\e60b";
}
.icon-stackoverflow:before {
  content: "\e620";
}
.icon-keybase:before {
  content: "\e61e";
}
.icon-telegram:before {
  content: "\e623";
}
.icon-discord:before {
  content: "\e60d";
}
.icon-steam:before {
  content: "\e624";
}
.sidebar-btn-wrapper .sidebar-toc-btn:before {
  font-family: "iconfont";
  content: "\e633";
}
.sidebar-btn-wrapper .sidebar-common-btn:before {
  font-family: "iconfont";
  content: "\e632";
}
.sidebar-top .arrow-up:before {
  font-family: "iconfont";
  content: "\e634";
}
.icon-link:before {
  font-family: "iconfont";
  content: "\e639";
}
.icon-globe:before {
  font-family: "iconfont";
  content: "\e638";
}
.icon-creative-commons:before {
  font-family: "iconfont";
  content: "\e63a";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mulish, 'Noto Serif SC', 'Noto Serif JP', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-weight: 700;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html,
body,
#container {
  height: 100%;
  cursor: var(--cursor-default);
}
body {
  background: var(--color-background);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Mulish, 'Noto Serif SC', 'Noto Serif JP', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  transition: background 0.3s ease;
}
a {
  cursor: var(--cursor-pointer) !important;
}
.site-search input {
  cursor: var(--cursor-text) !important;
}
#main span,
#main p,
#main code,
#main kbd,
#main input,
#main textarea {
  cursor: var(--cursor-text) !important;
}
#main nav span {
  cursor: var(--cursor-default) !important;
}
.outer {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden !important;
}
#wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
  background: var(--color-background);
}
#main {
  padding: 0 10px;
  max-width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 959px) {
  #main {
    min-width: 100%;
  }
}
#content {
  position: relative;
  display: flex;
  padding-top: 5px;
  align-items: stretch;
}
#content.outer {
  overflow: visible;
}
@media screen and (min-width: 960px) {
  #main {
    padding: 0;
    display: inline;
    float: left;
    width: 73.33333333333333%;
    margin: 0 0.833333333333333%;
  }
}
#mask {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.mobile-nav-on #mask {
  display: block;
}
#header {
  height: 400px;
  position: relative;
}
#header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -2;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease;
  -webkit-mask: linear-gradient(to top, transparent, #fff 50%);
  mask: linear-gradient(to top, transparent, #fff 50%);
}
@media screen and (max-width: 959px) {
  #header img {
    height: 120%;
  }
}
@media screen and (max-width: 767px) {
  #header img {
    height: 100%;
  }
}
#header-outer {
  height: 100%;
  position: relative;
  max-width: 100%;
  margin: 0;
}
[data-theme="dark"] #header-nav:hover {
  background: var(--color-header-background);
}
#header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: var(--color-header-background);
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  z-index: 200;
}
#header-nav:hover {
  background: rgba(255,255,255,0.95);
}
#header-nav.header-nav-hidden {
  top: -80px;
}
#header-title {
  font-family: Mulish, 'Noto Serif SC', 'Noto Serif JP', -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  font-weight: 700;
  text-align: center;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -20px;
}
#logo,
#subtitle {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#logo {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  display: inline-block;
  width: 80%;
  transform: translateY(-20%);
  text-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.5);
}
@media screen and (max-width: 959px) {
  #logo {
    width: 90%;
    font-size: 35px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #logo {
    width: 95%;
    font-size: 30px;
  }
}
@media screen and (max-width: 479px) {
  #logo {
    width: 100%;
    font-size: 30px;
  }
}
#subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
}
@media screen and (max-width: 959px) {
  #subtitle {
    font-size: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #subtitle {
    width: 95%;
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  #subtitle {
    width: 100%;
    font-size: 13px;
  }
}
#subtitle-wrap {
  margin-top: 18px;
}
#main-nav {
  display: flex;
  align-items: center;
  margin-left: -15px;
}
.nav-icon,
.main-nav-link-wrap,
.main-nav-link,
.main-nav-icon {
  color: var(--red-0);
  opacity: 0.8;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.main-nav-link-wrap {
  padding: 0 15px;
  display: flex;
  transition: all 0.3s ease;
}
.main-nav-link-wrap:hover {
  opacity: 1;
}
@media screen and (max-width: 959px) {
  .main-nav-link-wrap {
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .main-nav-link-wrap {
    padding: 0 4px;
  }
}
.nav-icon {
  text-align: center;
  font-size: 14px;
  width: 14px;
  height: 14px;
  padding: 20px 15px;
  position: relative;
  cursor: var(--cursor-pointer);
}
[data-theme="dark"] .main-nav-link,
[data-theme="dark"] .main-nav-icon,
[data-theme="dark"] .nav-icon,
[data-theme="dark"] .main-nav-link-wrap {
  color: var(--red-2);
}
[data-theme="dark"] .main-nav-icon,
[data-theme="dark"] .nav-icon {
  filter: brightness(120%);
}
@media screen and (max-width: 479px) {
  .main-nav-link-wrap {
    display: none;
  }
}
.main-nav-link-wrap:hover .main-nav-icon {
  transition: transform 1s ease;
  transform: rotate(360deg);
}
.main-nav-link {
  font-weight: 400;
  letter-spacing: 1px;
}
.main-nav-icon {
  background: url("../images/taichi.png") no-repeat center/80%;
  transform: rotate(0deg);
  transition: transform 1s ease;
  cursor: var(--cursor-pointer);
}
#main-nav-toggle {
  display: none;
}
@media screen and (max-width: 959px) {
  #main-nav-toggle {
    display: block;
  }
}
#sub-nav {
  display: flex;
  align-items: center;
  margin-right: -15px;
}
#nav-sun-btn:before {
  font-weight: 700;
}
#nav-moon-btn:before {
  font-weight: 700;
}
.hr-line {
  margin: 10px 35px;
  opacity: 0.3;
  height: 2px;
  background-image: linear-gradient(to right, var(--red-0) 50%, transparent 0%);
  background-size: 25px 2px;
  background-repeat: repeat-x;
  filter: drop-shadow(0px 0px 2px #f00);
  transition: opacity 0.3s ease;
}
.hr-line:hover {
  opacity: 0.5;
}
.article-inner {
  background: var(--color-wrap);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.article-meta {
  display: flex;
  flex-direction: column;
  padding: 20px 35px 0;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-date-link,
.article-category-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--red-1);
  background: var(--red-5);
  border-radius: 20px;
  padding: 10px 18px;
  margin: 0 12px 1em 0;
  box-shadow: 0 0 5px 3px var(--color-meta-shadow);
  transition: all 0.3s ease;
}
.article-date {
  display: flex;
  align-items: center;
}
.article-date-link:before {
  margin-right: 10px;
}
.article-category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.article-category-link:before {
  font-weight: 700;
  margin-right: 10px;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: var(--color-default);
  line-height: 1.2em;
  transition: color 0.2s;
}
a.article-title:hover {
  color: var(--color-link);
}
.article-entry {
  color: var(--color-default);
  padding: 0 35px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
@media screen and (max-width: 767px) {
  .article-entry {
    padding: 0 20px;
  }
}
.article-entry p,
.article-entry table {
  line-height: 1.8em;
  margin: 1.8em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
  line-height: 1.2em;
  margin: 1.2em 0;
}
.article-entry h1:before,
.article-entry h2:before,
.article-entry h3:before,
.article-entry h4:before,
.article-entry h5:before,
.article-entry h6:before {
  font-family: "iconfont";
  font-weight: normal;
}
.article-entry h1 a,
.article-entry h2 a,
.article-entry h3 a,
.article-entry h4 a,
.article-entry h5 a,
.article-entry h6 a {
  font-family: "iconfont";
  opacity: 0.5;
  margin-right: 5px;
  transition: all 0.3s ease;
}
.article-entry h1 a:hover,
.article-entry h2 a:hover,
.article-entry h3 a:hover,
.article-entry h4 a:hover,
.article-entry h5 a:hover,
.article-entry h6 a:hover {
  opacity: 1;
  text-decoration: none !important;
}
.article-entry h2 {
  margin-bottom: 40px;
}
.article-entry a {
  color: var(--color-link);
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}
.article-entry li:hover::marker {
  transition: color 0.2s ease;
  color: var(--red-1);
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  opacity: 0;
  transition: all 0.3s ease;
}
.article-entry img.lazyloaded {
  opacity: 1;
  animation: blur 0.8s ease-in-out forwards;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid var(--color-border);
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid var(--color-border);
  padding: 10px 0;
}
.article-entry blockquote {
  background: var(--red-5-5);
  border-left: 6px var(--red-4) solid;
  margin: 1.8em 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 1px 10px;
}
@media screen and (max-width: 767px) {
  .article-entry blockquote {
    margin: 1.8em 0;
  }
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.8em 0;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: var(--color-grey);
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: var(--red-5);
  color: var(--red-1);
  text-decoration: none;
  box-shadow: 0 0 5px 3px var(--red-6);
}
.article-more-link a:hover {
  background: var(--color-link);
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px var(--color-dark-link);
}
.article-footer {
  font-size: 14px;
  margin: 0 35px 20px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer:before {
  content: "";
  display: block;
  margin-top: 10px;
  opacity: 0.3;
  height: 2px;
  background-image: linear-gradient(to right, var(--red-0) 50%, transparent 0%);
  background-size: 25px 2px;
  background-repeat: repeat-x;
  filter: drop-shadow(0px 0px 2px #f00);
}
.article-footer a {
  text-decoration: none;
}
.article-tag-list-link,
.article-comment-link,
.article-visitor-link {
  color: var(--red-1);
  margin-top: 20px;
}
.article-tag-list-item {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--red-5);
  border-radius: 20px;
  padding: 10px 18px;
  margin-top: 20px;
  margin-right: 10px;
}
.article-tag-list-link:before {
  margin-right: 10px;
}
.article-comment-link {
  float: right;
  background: var(--red-5);
  margin-left: 20px;
  border-radius: 20px;
  padding: 10px 18px;
}
.article-comment-link:before {
  margin-right: 10px;
}
.article-visitor-link {
  float: right;
  font-size: 14px;
  background: var(--red-5);
  border-radius: 20px;
  padding: 10px 18px;
}
#article-nav {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    flex-direction: row;
  }
}
.article-nav-link-wrap {
  backgroud-color: var(--color-wrap);
  color: #fff;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  height: 150px;
  min-height: 150px;
  flex-shrink: 0;
}
.article-nav-link-wrap a,
.article-nav-link-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
.article-nav-link-wrap img {
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.article-nav-link-wrap img.lazyloaded {
  opacity: 1;
  animation: blur 0.8s ease-in-out forwards;
}
.article-nav-link-wrap:hover {
  opacity: 1;
}
.article-nav-link-right {
  align-items: flex-end;
  padding-right: 20px;
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0.85em;
  font-weight: bold;
}
.article-nav-title {
  font-size: 1.2em;
  line-height: 1.8em;
  margin-top: 0.8em;
  text-shadow: 0 0.2rem 0.3rem rgba(0,0,0,0.5);
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}
.post-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-wrap-left,
.post-wrap-right {
  width: 100%;
  height: 230px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 5px;
  background: var(--color-wrap);
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .post-wrap-left:hover,
  .post-wrap-right:hover {
    transform: scale(1.015);
  }
  .post-wrap-left:hover:before,
  .post-wrap-right:hover:before {
    opacity: 0.8;
  }
  .post-wrap-left:hover img,
  .post-wrap-right:hover img {
    transition: all 0.3s ease;
    transform: scale(1.05);
  }
  .post-wrap-left:before,
  .post-wrap-right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
    opacity: 0;
    transition: all 0.3s ease;
  }
}
[data-theme="dark"] .post-wrap-left {
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
[data-theme="dark"] .post-wrap-right {
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
@media screen and (max-width: 767px) {
  .post-wrap-left {
    flex-direction: column;
    height: 400px;
  }
}
.post-wrap-right {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .post-wrap-right {
    flex-direction: column;
    height: 400px;
  }
}
.post-info {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
.post-meta {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}
.post-meta span {
  font-size: 14px;
  color: #777;
  margin: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-meta span:before {
  margin: 0 10px;
}
@media screen and (max-width: 767px) {
  .post-meta span:before {
    margin: 0;
  }
}
.post-article {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 30px;
  font-size: 15px;
  color: #777;
}
.post-article a {
  color: var(--color-link);
}
.post-cover-left,
.post-cover-right {
  width: 40%;
  position: relative;
  overflow: hidden;
  min-height: 95px;
  background-color: var(--color-wrap);
  flex-shrink: 0;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .post-cover-left,
  .post-cover-right {
    width: 100%;
    height: 45%;
  }
}
.post-cover-left img,
.post-cover-right img {
  display: block;
  opacity: 0;
  transition: all 0.2s ease;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.post-cover-left img.lazyloaded,
.post-cover-right img.lazyloaded {
  opacity: 1;
  animation: blur 0.8s ease forwards;
}
@media screen and (min-width: 768px) {
  .post-cover-left {
    border-radius: 5px 0 0 5px;
    -webkit-clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 767px) {
  .post-cover-left {
    border-radius: 5px 5px 0 0;
  }
}
@media screen and (min-width: 768px) {
  .post-cover-right {
    border-radius: 0 5px 5px 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
  }
}
@media screen and (max-width: 767px) {
  .post-cover-right {
    border-radius: 5px 5px 0 0;
  }
}
.post-title {
  padding: 20px 0;
  color: var(--color-link);
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-sticky {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 70px;
  height: 35px;
  background: var(--color-sticky);
  color: var(--red-1);
  font-weight: bold;
  font-size: 15px;
  z-index: 1;
  opacity: 1;
  transition: all 0.3s ease;
}
.post-sticky:before {
  margin-right: 5px;
}
.post-wrap-left .post-sticky {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.post-wrap-right .post-sticky {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#comments {
  background: var(--color-wrap);
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}
#comments a {
  color: var(--color-link);
}
.gscomment {
  width: auto;
}
.wl-emoji-popup {
  max-width: calc(100vw - 90px) !important;
}
.archives-outer-wrap {
  background: var(--color-wrap);
  border-radius: 5px;
  padding: 15px 0;
}
.archives-wrap {
  padding: 20px 50px;
}
.archive-year-wrap {
  margin-bottom: 2em;
  position: relative;
}
.archive-year-wrap:before {
  content: "";
  width: 100%;
  border-bottom: 1px solid var(--color-background);
  position: absolute;
  bottom: -15px;
}
.archive-year-wrap:after {
  content: "";
  position: absolute;
  background: var(--color-h2-after);
  width: 1em;
  height: 7px;
  bottom: -18px;
  left: 0;
  border-radius: 10px;
  box-shadow: 0 2px 12px var(--color-h2-after-shadow);
  transition: all 0.3s ease;
}
.archive-year-wrap:hover:after {
  width: 3em;
}
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-default-font);
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
}
.archive-article {
  padding: 15px 0 15px 25px;
  position: relative;
  display: flex;
  align-items: center;
}
.archive-article:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 15px;
  background: var(--color-h2-after);
  margin: -2px 11px 0 -25px;
  box-shadow: 0 2px 12px var(--color-h2-after-shadow);
  opacity: 0.5;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
.archive-article:hover:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 1;
}
.archive-article:hover .archive-article-title {
  opacity: 1;
}
.archive-article-date-wrap {
  flex-shrink: 0;
}
.archive-article-date-wrap a {
  text-decoration: none;
}
.dt-published {
  color: var(--color-grey);
  margin-left: 5px;
}
.archive-article-title {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: var(--red-0);
  transition: all 0.3s ease;
  opacity: 0.6;
  margin-left: 15px;
}
#page-nav {
  margin: 50px auto;
  background: var(--color-wrap);
  border-radius: 5px;
  text-align: center;
  color: var(--color-grey);
  overflow: hidden;
  transition: all 0.3s ease;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav:hover {
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
#page-nav a,
#page-nav span {
  padding: 10px 15px;
}
#page-nav a {
  color: var(--color-grey);
  text-decoration: none;
  transition: background 0.2s ease;
}
#page-nav a:hover {
  background: var(--red-2);
  color: #fff;
}
#page-nav .prev {
  float: left;
  padding: 15px 15px;
}
#page-nav .next {
  float: right;
  padding: 15px 15px;
}
#page-nav .page-number {
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  background: var(--red-1);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 12px rgba(255,78,106,0.55);
}
@media screen and (max-width: 479px) {
  #page-nav .current {
    display: inline-block;
  }
}
#page-nav .space {
  display: inline-block;
  margin: 5px 5px;
  color: var(--color-border);
}
@media screen and (max-width: 479px) {
  #page-nav .space {
    display: none;
  }
}
.tag-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px;
}
.tag-wrap a {
  text-decoration: none;
}
.tag-wrap .archives-tag-list-item {
  text-decoration: none;
  text-transform: uppercase;
  background: var(--red-5);
  border-radius: 20px;
  padding: 8px 15px;
  margin: 5px;
}
.tag-wrap .archives-tag-list-link {
  color: var(--red-1);
  font-size: 12px;
}
.tag-wrap .archives-tag-list-link:before {
  margin-right: 10px;
}
.category-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 50px;
}
.category-wrap a {
  text-decoration: none;
}
.category-wrap .archives-category-list-item {
  text-decoration: none;
  text-transform: uppercase;
  background: var(--red-6);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
}
.category-wrap .archives-category-list-link {
  color: var(--red-1);
  font-size: 14px;
}
.category-wrap .archives-category-list-link:before {
  margin-right: 10px;
  font-weight: 700;
}
#footer {
  background: linear-gradient(to top, var(--color-footer-background) 50%, transparent);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  padding: 40px 0 20px 0;
  color: var(--color-grey);
}
#footer:hover .footer-line {
  opacity: 0.5;
}
#footer a {
  color: var(--color-link);
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
.footer-line {
  margin: 20px 0 40px;
  opacity: 0.3;
  width: 200%;
  height: 10px;
  background: linear-gradient(to left, rgba(255,0,0,0.75) 50%, transparent 0%) repeat-x 0 0/100px 10px;
  transition: opacity 0.3s ease;
  animation: transform-all 3s linear infinite;
  filter: drop-shadow(0px 0px 2px #f00);
}
#footer-info {
  line-height: 1.8em;
  font-size: 0.85em;
  width: 100%;
  margin: 0;
}
#footer-info div {
  margin: 5px 0;
  display: flex;
  justify-content: center;
}
.icon-brush {
  margin: 0 5px;
}
.icon-coffee {
  margin: 0 5px;
}
.icon-eye {
  margin: 0 5px;
}
.icon-user {
  margin: 0 5px;
}
.footer-info-sep {
  width: 25px;
  opacity: 0.6;
  background: url("../images/taichi.png") no-repeat center/80%;
  animation: rotate-all 3s linear infinite;
}
.article-copyright {
  background: var(--red-5-5);
  border-left: 6px var(--red-4) solid;
  margin: 1.8em 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 10px;
}
.article-copyright p {
  font-size: 14px;
  line-height: 2;
  color: var(--color-default);
}
.article-copyright p strong {
  font-weight: 700;
}
.article-copyright a {
  color: var(--color-default);
  text-decoration: none;
}
.article-copyright a:hover {
  text-decoration: underline;
}
@keyframes rotate-all {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes transform-all {
  100% {
    transform: translateX(-100px);
  }
}
@media screen and (min-width: 960px) {
  #mobile-nav {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  #mobile-nav {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: var(--color-mobile-nav-background);
    z-index: 1001;
    transition: left 0.2s ease;
  }
  .mobile-nav-on #mobile-nav {
    left: 0;
  }
}
#mobile-nav .sidebar-wrap {
  background: var(--color-mobile-nav-background);
}
.article-entry pre,
.article-entry .highlight {
  background: var(--highlight-background);
  padding: 0 20px 15px;
  border-radius: 10px;
  color: var(--highlight-foreground);
  line-height: 25.2px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry .mermaid {
  background: transparent;
}
.article-entry figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  transition: all 0.3s ease;
}
.article-entry figure:hover {
  box-shadow: 0 0.3125rem 0.625rem -0.125rem var(--highlight-scrollbar);
}
.article-entry figure ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
.article-entry figure ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.article-entry figure ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--highlight-scrollbar);
}
.article-entry pre,
.article-entry code,
.article-entry kbd {
  font-family: "Ubuntu Mono";
  font-size: 95%;
  transition: all 0.3s ease;
}
.article-entry code,
.article-entry kbd {
  background: var(--color-code-background);
  padding: 1px 5px;
  border-radius: 5px;
  color: var(--color-link);
}
.article-entry pre {
  border-radius: 0;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  color: var(--highlight-foreground);
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.article-entry .highlight table {
  margin: 0;
  table-layout: fixed;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: var(--highlight-comment);
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter {
  width: 30px;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 25.2px;
}
.article-entry .highlight .line.marked {
  background: var(--highlight-selection);
}
.article-entry .gist {
  border-style: solid;
  border-color: var(--color-border);
  border-width: 1px 0;
  background: var(--highlight-background);
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Ubuntu Mono";
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: var(--highlight-background);
  color: var(--highlight-comment);
  font: 0.85em Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: var(--color-link);
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: var(--highlight-comment);
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: var(--highlight-red);
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: var(--highlight-orange);
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: var(--highlight-green);
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: var(--highlight-green);
}
pre .css .hexcolor {
  color: var(--highlight-aqua);
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: var(--highlight-blue);
}
pre .keyword,
pre .javascript .function {
  color: var(--highlight-purple);
}
.code-area {
  width: 100%;
  overflow: auto;
  transition: all 0.3s ease;
}
.code-figcaption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(to right, transparent 0%, var(--highlight-nav) 50%, transparent 100%);
  margin-bottom: 10px;
}
.code-decoration {
  width: 70px;
}
.code-decoration:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #ff5f56;
  width: 12px;
  height: 12px;
  box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}
.code-left-wrap,
.code-right-wrap {
  display: flex;
}
.code-copy {
  margin: 5px;
  z-index: 1;
  filter: invert(50%);
  cursor: var(--cursor-pointer);
  color: #fff;
}
.code-lang {
  margin: 5px;
  line-height: 0;
  font-weight: bold;
  z-index: 1;
  filter: invert(50%);
  cursor: var(--cursor-pointer);
}
.code-expand {
  margin: 5px;
  filter: invert(50%);
  z-index: 1;
  cursor: var(--cursor-pointer);
  transition: all 0.3s;
  transform: rotate(0deg);
  color: #fff;
}
.code-closed .code-expand {
  transform: rotate(-180deg) !important;
  transition: all 0.3s;
}
.code-closed pre {
  display: none;
}
.tagcloud a {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}
[data-theme="dark"] .widget-wrap {
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
.widget-wrap {
  margin: 50px 0;
  background: var(--color-wrap);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.widget-wrap:hover {
  transform: scale(1.015);
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
.widget-title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-grey);
  line-height: 1em;
  font-weight: bold;
  padding: 20px 20px 10px;
}
.widget {
  color: var(--color-sidebar-text);
  padding: 10px 20px;
  border-radius: 3px;
}
.widget a,
.widget span {
  color: var(--color-link);
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.widget a:hover,
.widget span:hover {
  opacity: 1;
  color: var(--red-0);
}
.widget span {
  margin-left: 5px;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
  list-style: none;
}
.widget li {
  margin: 10px 0;
}
.widget li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 10px;
  background: var(--color-h2-after);
  vertical-align: middle;
  margin-right: 11px;
  box-shadow: 0 2px 12px var(--color-h2-after-shadow);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.widget li:hover:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 1;
}
.friend-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.friend-item-wrap {
  width: 48%;
  height: 100px;
  background: var(--color-wrap);
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
  border-radius: 5px;
  position: relative;
  display: flex;
  margin: 1%;
  transition: all 0.3s ease;
}
.friend-item-wrap:hover {
  transform: scale(1.015);
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.1);
}
@media screen and (max-width: 767px) {
  .friend-item-wrap {
    width: 98%;
  }
}
.friend-item-wrap a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.friend-icon-wrap {
  width: 100px;
  height: 100%;
  pointer-events: none;
  flex-shrink: 0;
}
.friend-icon-wrap .friend-icon {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.friend-icon-wrap .friend-icon img {
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  left: 15%;
  top: 15%;
  object-fit: cover;
  border-radius: 50%;
  width: 70%;
  height: 70%;
}
.friend-icon-wrap .friend-icon img.lazyloaded {
  opacity: 1;
  animation: blur 0.8s ease forwards;
}
.friend-info-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
  overflow: hidden;
}
.friend-info-wrap div {
  padding: 10px 0;
}
.friend-info-wrap .friend-name {
  color: var(--red-2);
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.friend-info-wrap .friend-desc {
  color: var(--color-grey);
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
}
.popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 700px;
  max-height: 80%;
  margin-left: -350px;
  padding: 3px 0 0 10px;
  background: var(--color-wrap);
  color: var(--color-grey);
  z-index: 9999;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .popup {
    padding: 5px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: 100%;
  }
}
.popoverlay {
  position: fixed;
  z-index: 2080;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}
.reimu-popup {
  overflow: hidden;
  padding: 0;
}
.reimu-popup .popup-btn-close {
  position: absolute;
  right: 15px;
  color: var(--red-1);
  font: 20px bold;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: var(--cursor-pointer);
  padding-left: 15px;
  top: 8px;
}
.reimu-search {
  padding: 8px 15px;
  max-height: 50px;
  border-bottom: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 5px 5px 0 0;
}
.reimu-search-input-icon {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
}
.reimu-search-input {
  display: inline-block;
  width: calc(90% - 20px);
}
.reimu-search-input input {
  padding: 5px 0;
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
}
.reimu-powered {
  float: right;
  cursor: var(--cursor-default) !important;
}
.reimu-powered img {
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}
.reimu-results {
  position: relative;
  overflow: auto;
  padding: 10px 30px;
  box-sizing: border-box;
  height: calc(100% - 50px);
}
.reimu-results hr {
  margin: 10px 0;
}
.reimu-results em {
  font-weight: bold;
  margin: 0;
  padding: 0 2px;
  color: var(--red-1);
}
#reimu-hits {
  margin-top: 10px;
  margin-left: 10px;
}
.reimu-hit-item-link {
  display: block;
  text-decoration: none;
  color: var(--red-2);
  margin-left: 15px;
  padding: 12px 0;
}
.reimu-hit-item-link:before {
  content: "";
  width: 6px;
  height: 15px;
  background: var(--color-h2-after);
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 11px;
  margin-left: -25px;
  box-shadow: 0 2px 12px var(--color-h2-after-shadow);
  opacity: 0.5;
  transition: all 0.2s ease;
}
.reimu-hit-item-link:hover:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 1;
}
.reimu-pagination {
  margin: 10px auto;
  background: var(--color-wrap);
  border-radius: 5px;
  text-align: center;
  color: var(--color-grey);
  overflow: hidden;
}
.reimu-pagination a {
  padding: 10px 15px;
  color: var(--color-grey);
  text-decoration: none;
  transition: background 0.2s ease;
}
.reimu-pagination a:hover {
  background: var(--red-2);
  color: #fff;
}
.reimu-pagination .pagination-item {
  display: inline-block;
}
.reimu-pagination .page-number {
  display: inline-block;
  border-radius: 5px;
  margin: 5px 5px;
}
.reimu-pagination .current .page-number {
  color: #fff;
  background: var(--red-1);
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(255,78,106,0.55);
}
.reimu-pagination .disabled-item {
  display: none;
}
.post-link-card-wrap {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.post-link-card-wrap .post-link-card {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 60%;
}
@media screen and (max-width: 767px) {
  .post-link-card-wrap .post-link-card {
    width: 95%;
  }
}
.post-link-card-wrap .post-link-card:hover {
  transform: scale(1.015);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.post-link-card-wrap .post-link-card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.post-link-card-wrap .post-link-card .post-link-card-cover-wrap {
  position: relative;
  overflow: hidden;
  height: 66px;
  width: 68px;
  padding-right: 20px;
  flex-shrink: 0;
  pointer-events: none;
}
.post-link-card-wrap .post-link-card .post-link-card-cover-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.post-link-card-wrap .post-link-card .post-link-card-cover-wrap.auto {
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-right: 0;
  margin-right: 20px;
}
.post-link-card-wrap .post-link-card .post-link-card-cover-wrap .icon-globe {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .post-link-card-wrap .post-link-card .post-link-card-cover-wrap {
    display: none !important;
  }
}
.post-link-card-wrap .post-link-card .post-link-card-item-wrap {
  display: flex;
  flex-direction: column;
  flex-shrink: 5;
  width: 100%;
  justify-content: center;
  height: 66px;
  overflow: hidden;
}
.post-link-card-wrap .post-link-card .post-link-card-item-wrap .post-link-card-title {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 0;
  color: var(--red-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.post-link-card-wrap .post-link-card .post-link-card-item-wrap .post-link-card-excerpt {
  font-size: 14px;
  color: var(--color-grey);
  padding: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.post-link-card-wrap .post-link-card .post-link-card-item-wrap .post-link-card-excerpt .icon-link {
  font-size: 12px;
  margin-right: 5px;
}
@media screen and (max-width: 959px) {
  #sidebar {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  #sidebar {
    display: inline;
    float: left;
    width: 23.333333333333332%;
    margin: 0 0.833333333333333%;
    height: inherit;
  }
}
[data-theme="dark"] .sidebar-wrap {
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
[data-theme="dark"] #mobile-nav .sidebar-wrap {
  box-shadow: 0 0 0 0;
}
.sidebar-wrap {
  width: 100%;
  border-radius: 5px;
  background: var(--color-wrap);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: unset;
  transition: all 0.3s ease;
}
.sidebar-wrap .hidden {
  display: none;
}
.sidebar-wrap.wrap-sticky {
  position: sticky;
  top: 5px;
}
.sidebar-wrap:hover {
  transform: scale(1.015);
  box-shadow: 0 0 10px 3px var(--color-hover-shadow);
}
#mobile-nav .sidebar-wrap:hover {
  transform: scale(1);
  box-shadow: 0 0 0 0;
}
.sidebar-author {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-author img {
  display: block;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 0;
  object-fit: cover;
  margin: 20px;
  box-shadow: 0 0 15px 5px rgba(255,0,0,0.2);
}
.sidebar-author img.lazyloaded {
  opacity: 1;
  animation: blur 0.8s ease forwards;
}
.sidebar-author .sidebar-author-name {
  font-weight: bold;
  font-size: 20px;
  color: #f77;
  margin: 10px;
}
.sidebar-author .sidebar-description {
  color: #777;
}
.sidebar-state .sidebar-state-article,
.sidebar-state .sidebar-state-category,
.sidebar-state .sidebar-state-tag {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.sidebar-state .sidebar-state-article div,
.sidebar-state .sidebar-state-category div,
.sidebar-state .sidebar-state-tag div {
  margin: 5px 0;
}
.sidebar-state {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  color: var(--red-0);
  opacity: 0.6;
  transition: opacity 0.5s ease;
}
.sidebar-state:hover {
  opacity: 1;
}
.sidebar-state .sidebar-state-article {
  border-right: 1px solid rgba(255,0,0,0.5);
}
.sidebar-state .sidebar-state-tag {
  border-left: 1px solid rgba(255,0,0,0.5);
}
.sidebar-state .sidebar-state-number {
  font-weight: bold;
  font-size: 20px;
}
.sidebar-social {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}
.sidebar-social div a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sidebar-social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 25px;
  font: 20px "iconfont";
}
.icon-github {
  color: #191717;
}
.icon-google {
  color: #4285f4;
}
.icon-facebook {
  color: #3b5998;
}
.icon-twitter {
  color: #191717;
}
.icon-instagram {
  color: #e1306c;
}
.icon-linkedin {
  color: #0e76a8;
}
.icon-pinterest {
  color: #bd081c;
}
.icon-youtube {
  color: #f00;
}
.icon-vimeo {
  color: #1ab7ea;
}
.icon-flickr {
  color: #ff0084;
}
.icon-dribbble {
  color: #ea4c89;
}
.icon-behance {
  color: #1769ff;
}
.icon-bilibili {
  color: #00a1d6;
}
.icon-weibo {
  color: #e6162d;
}
.icon-zhihu {
  color: #0084ff;
}
.icon-douban {
  color: #072;
}
.icon-reddit {
  color: #ff4500;
}
.icon-tumblr {
  color: #35465c;
}
.icon-medium {
  color: #00ab6c;
}
.icon-deviantart {
  color: #05cc47;
}
.icon-stackoverflow {
  color: #f48024;
}
.icon-keybase {
  color: #33a0ff;
}
.icon-telegram {
  color: #08c;
}
.icon-discord {
  color: #7289da;
}
.icon-steam {
  color: #171a21;
}
.sidebar-menu-icon,
.sidebar-menu-link {
  color: var(--red-0);
  opacity: 0.8;
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  transition: opacity 0.2s;
  display: block;
  padding: 10px 15px;
}
.sidebar-menu {
  margin: 20px 0;
  width: 100%;
}
.sidebar-menu-link-wrap {
  margin: 8px 50px;
  display: flex;
  position: relative;
  justify-content: center;
  border: 10px rgba(255,0,0,0.3) double;
  border-radius: 10px;
  transition: border 0.5s ease;
}
.sidebar-menu-link-wrap:hover {
  border: 10px var(--color-h2-after) double;
}
.sidebar-menu-link-wrap:hover .sidebar-menu-icon {
  transform: rotate(360deg);
}
.sidebar-menu-icon {
  background: url("../images/taichi.png") no-repeat center/80%;
  transform: rotate(0deg);
  transition: transform 1s ease;
  pointer-events: none;
}
.sidebar-menu-link-dummy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sidebar-menu-link {
  pointer-events: none;
}
.link-active {
  background: var(--red-0);
  border: 10px var(--color-wrap) double;
  box-shadow: 0 0 10px 3px rgba(255,0,0,0.3);
  opacity: 0.8;
  transition: border opacity 0.5s ease;
}
.link-active:hover {
  opacity: 1;
}
.link-active .sidebar-menu-link {
  color: #fff;
  opacity: 1;
}
.link-active .sidebar-menu-icon {
  opacity: 1;
  background: url("../images/taichi-fill.png") no-repeat center/80%;
}
.sidebar-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--color-wrap);
  border-radius: 50%;
  font-family: "iconfont";
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: all 0.3s ease;
}
.sidebar-top img {
  transition: all 0.3s ease;
  animation: rotate-all 3s infinite;
  animation-timing-function: linear;
  opacity: 1;
}
.sidebar-top .arrow-up {
  transition: all 0.3s ease;
  opacity: 0;
}
.sidebar-top .arrow-up:before {
  width: 50px;
  height: 50px;
  position: absolute;
  color: var(--red-1);
  font-size: 20px;
  top: 0;
  text-align: center;
  line-height: 50px;
}
.sidebar-top:hover img {
  opacity: 0;
}
.sidebar-top:hover .arrow-up {
  opacity: 1;
}
.sidebar-toc {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.sidebar-toc-wrapper {
  max-height: calc(100vh - 120px);
  overflow: auto;
}
.sidebar-toc-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sidebar-toc-wrapper {
  color: var(--color-link);
}
.sidebar-toc-wrapper a,
.sidebar-toc-wrapper span {
  color: var(--color-link);
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.sidebar-toc-wrapper a:hover,
.sidebar-toc-wrapper span:hover {
  color: var(--red-0);
}
.sidebar-toc-wrapper ol {
  margin-left: 15px;
  list-style: none;
}
.sidebar-toc-wrapper li {
  margin: 10px 0;
}
.sidebar-toc-wrapper li:before {
  content: "";
  width: 5px;
  height: 10px;
  background: var(--color-h2-after);
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  box-shadow: 0 2px 12px var(--color-h2-after-shadow);
  opacity: 0.5;
  transition: all 0.3s ease;
}
.sidebar-toc-wrapper li:hover:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  opacity: 1;
}
.sidebar-toc-wrapper .toc-level-1 {
  list-style: none;
}
.sidebar-toc-wrapper .toc-level-1:before {
  display: none;
}
.sidebar-toc-wrapper .toc-level-1 >a {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.sidebar-toc-wrapper .toc-child {
  display: none;
}
.sidebar-toc-wrapper .active>.toc-child {
  display: block;
}
.sidebar-toc-wrapper .current>.toc-child {
  display: block;
}
.sidebar-toc-wrapper .current>.toc-child >.toc-item {
  display: block;
}
.sidebar-toc-wrapper .active>a {
  color: var(--red-0);
  opacity: 1;
}
.sidebar-toc-wrapper .active>a>span {
  color: var(--red-0);
  opacity: 1;
}
.sidebar-toc-wrapper .current>a {
  color: var(--red-0);
  opacity: 1;
}
.sidebar-toc-wrapper .current>a>span {
  color: var(--red-0);
  opacity: 1;
}
.toc-title {
  letter-spacing: 2px;
  color: var(--color-grey);
  line-height: 1em;
  font-weight: bold;
  padding: 10px 0;
}
.toc-item {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar-btn-wrapper .sidebar-toc-btn,
.sidebar-btn-wrapper .sidebar-common-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--red-3);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 12px rgba(255,78,106,0.55);
  border-radius: 5px;
  margin: 20px;
  transition: all 0.3s ease;
}
[data-theme="dark"] .sidebar-btn-wrapper .sidebar-toc-btn,
[data-theme="dark"] .sidebar-btn-wrapper .sidebar-common-btn {
  filter: brightness(0.8);
}
.sidebar-btn-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.sidebar-btn-wrapper .current {
  background: var(--red-1);
}
.sidebar-common-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sidebar-toc-sidebar {
  width: 100%;
}
[data-theme="dark"] ::-webkit-scrollbar,
[data-theme="dark"] ::-webkit-scrollbar-track {
  background-color: #616161;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--red-3);
}
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
  background: var(--red-1);
}
